<section class="bg-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-12 text-center">
        <span class="d-block mb-3 h2"><%= block.title %></span>
        <div class="col-md-12 pt-3">
          <form name="help_with_selling_house_epc" data-netlify="true">
            <input type="text" class="form-control-lg w-auto m-2" placeholder="Your full name" name="name" required="required">
            <input type="phone" class="form-control-lg w-auto m-2" placeholder="Your phone number" name="phone" required="required">
            <button class="form-control-lg w-auto m-2 btn btn-primary btn-lg" type="submit"><%= block.call_to_action %></button>
          </form>
        </div>
        <span class="d-block mt-3 text-muted"><%= block.footer_text %></span>
      </div>
    </div>
  </div>
</section>
