<section class="bg-gradient">

  <div class="container">
    <div class="row mb-4 ">
      <div class="col">
        <span class="h2 display-4 d-block text-white">Did you know?</span>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-6 mb-3 mb-md-0">
        <h4 class="text-white">You're eliminating 60% of potential buyers</h4>
        <p class="text-white">Most high Street mortgage providers require a property to have a minimum EPC of EXX before they'll approve a mortgage application</p>
      </div>
      <div class="col-md-6">
        <h4 class="text-white">Your EPC is too low</h4>
        <p class="text-white">Your current EPC could make you unmortgageable to buyers. That means you're on the back foot when it comes to getting that sale.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <span class="h2 display-4 d-block">Your next step...</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 d-flex">
        <div class="card">
          <img class="card-img-top" src="/assets/img/utility-2.jpg" alt="Become more money-minded">
          <div class="card-body py-3">
            <span class="mb-2 d-block text-blue">Option 1</span>
            <h3>Give up and do nothing</h3>
            <div class="mb-4">
              <p>You could continue as you are, with viewings that lead nowhere, keeping your fingers crossed.</p>
              <p>Maybe a cash buyer will materialise before the market takes the predicted severe downturn?</p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-12 col-md-6 d-flex">
        <div class="card">
          <img class="card-img-top" src="/assets/img/lending-1-cropped.jpg" alt="Setting up your financial future">
          <div class="card-body py-3">
            <span class="mb-2 d-block text-blue">Option 2</span>
            <h3>Take action now!</h3>
            <div class="mb-4">
              <p>Engage the services of a professional who will help you achieve the price you're looking for.</p>
              <p>Turn things around to attract more potential buyers, so you'll get the sale you desire and deserve.</p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

<section class="bg-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-12 text-center">
        <span class="d-block mb-3 h2">Ready to get the sale you deserve?</span>


        <div class="offset-md-2 col-md-9 pt-3">
          <form name="contact" data-netlify="true" class="d-md-flex align-items-center">
            <div class="form-group">
              <input type="text" class="form-control-lg" placeholder="Your name" name="name" required="required">
            </div>
            <div class="form-group ml-4">
              <input type="phone" class="form-control-lg" placeholder="Your phone number" name="phone" required="required">
            </div>
            <div class="form-group ml-4">
              <button class="btn btn-primary btn-lg" type="submit">Request a callback</button>
            </div>
          </form>
        </div>

        <span class="d-block mt-3 text-muted">We're nice here. No high pressure sales pitch. Let's just have a chat.</span>
      </div>
    </div>
  </div>
</section>
