<section class="bg-white">
  <div class="container">
    <div class="row mb-4 ">
      <div class="col">
        <span class="h2 display-4 d-block">Did you know?</span>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-6 mb-3 mb-md-0">
        <span class="h5 d-block">You're eliminating 60% of potential buyers</span>
        <p>Most high Street mortgage providers require a property to have a minimum EPC of EXX before they'll approve a mortgage application</p>
      </div>
      <div class="col-md-6">
        <span class="h5 d-block">Your EPC is too low</span>
        <p>Your current EPC could make you unmortgageable to buyers. That means you're on the back foot when it comes to getting that sale.</p>
      </div>
    </div>
  </div>
</section>
