<section>
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-6 col-lg-5">
        <address class="h2 d-block"><%= block.title %></address>
        <p class="lead"><%= block.intro %></p>
      </div>
      <div class="col-md-6">
        <form name="contact" data-netlify-recaptcha="true" data-netlify="true">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your name" name="name" required="required">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Your email address" name="email" required="required">
          </div>
          <div class="form-group">
            <select class="custom-select form-control" id="rich-form-2-select-2a" name="subject" required="required">
              <option value="" selected="">Select One</option>
              <option value="hmo_management">HMO management</option>
              <option value="home_staging">Home staging</option>
              <option value="property_investments">Property investments</option>
              <option value="general_enquiry">General enquiry</option>
            </select>
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="4" placeholder="Type message here" name="message" required="required"></textarea>
          </div>
          <div data-netlify-recaptcha="true"></div>
          <div>
            <button class="btn btn-primary" type="submit">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
