<section>
  <div class="container">
    <div class="row">
      <% block.components.each do |component| %>
      <div class="col-12 col-md-4 d-md-flex">
        <div class="text-center card">
          <div class="card-body py-4">
            <img src="/assets/img/icons/icon09.svg" alt="Fully Responsive" class="icon">
            <div>
              <h5 class="mb-1 mt-2"><%= component.title %></h5>
              <p><%= component.intro %></p> <a href="<%= component.link.url %>"><%= component.link.title %></a>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
