<section class="bg-white pb-0 pt-3">
  <div class="container">
    <section class="bg-white pb-0">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-5 mb-3 mb-sm-0">
            <h1 class="display-4">Build beautiful, modular websites.</h1>
            <p class="lead">Insight includes everything you'll need to create beautiful websites.</p>
            <a
            href="" class="btn btn-lg btn-primary">Get Started</a>
          </div>
          <div class="col-lg-7">
            <img src="assets/img/group-isolated-1.jpg" alt="Image" class="pt-md-5 pt-lg-0">
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
