<section class="p-0 bg-dark">
  <img src="assets/img/header-1.jpg" alt="Image" class="bg-image position-md-absolute">
  <div class="container">
    <div class="row height-md-60">
      <div class="col-md-8 col-lg-6">
        <div class="card p-0 p-md-3 my-3">
          <div class="card-body py-md-4 py-lg-5 px-md-4">
            <h1 class="display-4"><%= block.title %></h1>
            <p class="lead"><%= block.intro %></p> <a href="<%= block.button.url %>" class="btn btn-primary btn-lg"><%= block.button.title %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
