<section class="p-0 bg-gradient">
  <img src="/assets/img/header-15.jpg" alt="Image" class="bg-image position-md-absolute opacity-60">
  <div class="container spacer-y-5">
    <div class="row">
      <div class="col-md-6 col-lg-5">
        <span class="h2 text-white d-block">
          <%= block.title %>
        </span>
        <p class="lead text-white">
        <%= block.intro %>
        </p>
        <a href="<%= block.button.url %>" class="lead text-white"><%= block.button.title %></a>
      </div>
    </div>
  </div>
</section>
