<div class="block-wrapper grid-item header">
  <section class="bg-white">
    <div class="container">
      <section class="bg-white">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-lg-10 col-xl-9">
              <h1 class="mb-3 display-3 font-alt-1">
                <%= page.title %>
              </h1>
              <p class="lead mb-0">
              <%= page.intro %>
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>
