<section class="height-40 bg-dark">
  <img src="/images/wall_5.webp" alt="Image" class="bg-image opacity-80">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h1 class="display-2 text-white"><%= block.title %></h1>
        <span class="lead d-block mb-3 text-white"><%= block.intro %></span>
        <a href="<%= block.button.url %>" class="btn btn-success btn-lg"><%= block.button.title %></a>
      </div>
    </div>
  </div>
</section>
