<section class="pb-0">
  <div class="container">
    <div class="row mb-4 text-center">
      <div class="col">
        <span class="h2 d-block">Some commonly asked questions</span>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <svg preserveAspectRatio="none" viewBox=" 0 0 100 100" class="bg-triangle bg-triangle-top-left">
    <polygon fill="#F8F9FB" points="0 100 100 100 100 0"></polygon>
  </svg>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-9">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-1">
                <span class="mb-0 h5 py-2 text-primary mb-0">How do I get my interest rate estimate?</span>
              </a>
              <i class="material-icons d-block text-dark">keyboard_arrow_right</i>
            </div>
            <div id="accordion-panel-1" class="collapse">
              <div class="py-1">
                Use our handy loan rate calculator to find out what low rate you qualify for. We lend with a rate that reflects your credit history - the better your credit score, the lower rate you will pay. Using the calculator does not affect your credit score.
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-2">
                <span class="mb-0 h5 py-2 text-primary mb-0">What do I need to apply?</span>
              </a>
              <i class="material-icons d-block text-dark">keyboard_arrow_right</i>
            </div>
            <div id="accordion-panel-2" class="collapse">
              <div class="py-1">
                You will be required to supply basic personal details, such as your driver's licence, employment details, assets, liabilities and income. We will be in contact to verify this information with you later.
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-3">
                <span class="mb-0 h5 py-2 text-primary mb-0">How long does approval take?</span>
              </a>
              <i class="material-icons d-block text-dark">keyboard_arrow_right</i>
            </div>
            <div id="accordion-panel-3" class="collapse">
              <div class="py-1">
                You will be notified of the outcome of your application no longer than 24 hours after your application is submitted. Often, we are able to approve a loan within 2 hours, if all required information is complete.
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-4">
                <span class="mb-0 h5 py-2 text-primary mb-0">How do I make repayments?</span>
              </a>
              <i class="material-icons d-block text-dark">keyboard_arrow_right</i>
            </div>
            <div id="accordion-panel-4" class="collapse">
              <div class="py-1">
                Loan payment can be made by direct bank transfer, a direct debit agreement or you can make a voluntary payment whenever via PayPal.
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-5">
                <span class="mb-0 h5 py-2 text-primary mb-0">How long do I have to pay off my loan?</span>
              </a>
              <i class="material-icons d-block text-dark">keyboard_arrow_right</i>
            </div>
            <div id="accordion-panel-5" class="collapse">
              <div class="py-1">
                Depending on your approved loan amount and credit history, the available loan terms will vary. Our minimum term is 3 months and the maximum term offered is 48 months. Special circumstances can be taken into account if you are experiencing financial difficulty.
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div class="d-flex justify-content-center">
          <span>Didn't find what you were after?</span>
          <a href="#" class="ml-2">Visit the Knowledgebase</a>
        </div>
      </div>
    </div>
  </div>
</section>


