<section class="bg-white pt-md-4 pb-md-0">
  <div class="container">
    <div class="row justify-content-around align-items-center flex-md-row-reverse">
      <div class="col-md col-lg-6">
        <div class="d-flex mb-3">
          <i class="material-icons text-warning">star</i>
          <i class="material-icons text-warning">star</i>
          <i class="material-icons text-warning">star</i>
          <i class="material-icons text-warning">star</i>
          <i class="material-icons text-warning">star</i>
        </div>
        <span class="h2 d-block">&#x201C;Using Insight has allowed me to expand my business beyond my wildest dreams, the team knew all the tricks.&#x201D;</span>
        <span>Adam Richards, Business Owner</span>
      </div>
      <div class="col-3 mt-md-4 mt-lg-0">
        <img class="d-none d-md-block" src="/assets/img/male-isolated-1.jpg" alt="Image">
      </div>
    </div>
  </div>
</section>

