<section class="pt-0">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-5 align-self-center mb-3 mb-lg-0">
        <div class="pr-lg-4">
          <span class="h2 d-block">A video to demontstrate your product or service</span>
          <p class="lead mb-0">Include some additional text here to help describe an important facet of your product or service.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="video-cover shadow-lg rounded">
          <img alt="Image" src="/assets/img/header-11.jpg" class="bg-image">
          <div class="video-play-icon"></div>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" data-src="https://www.youtube.com/embed/DYaq2sWTWAA?rel=0&amp;showinfo=0&amp;autoplay=1" allowfullscreen allow="autoplay; encrypted-media"></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col col-sm-auto d-md-flex align-items-center text-center">
        <span class="d-block mr-md-3 mb-md-0 h4 mb-md-0">Build a beautiful modular website with Insight</span>
        <a class="btn btn-primary btn-lg" href="#">Get Started</a>
      </div>
    </div>
  </div>
</section>

